<a href="https://colab.research.google.com/github/KanagalaAjay/Python_Scripts/blob/main/DataWranglingLab_Solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wrangling Lab

## Importing pandas

### Getting started and checking your pandas setup


Import pandas under the alias `pd`.

In [ ]:
import pandas as pd

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
#####Your code here
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data,index = labels)

df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [ ]:
#####Your code here

# df.info()

df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

**3.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
#####Your code here

df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**4.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [ ]:
#####Your code here

df[['animal', 'age']]
#df.iloc[:, 0:2]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**5.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [ ]:
#####Your code here

df.loc[['c','d','h'],['animal','age']]

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

**6.** Select only the rows where the number of visits is greater than 3.

In [ ]:
#####Your code here

df[(df.visits > 3)]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [ ]:
#####Your code here

df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
#####Your code here

df[(df.animal == 'cat') &(df.age <3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**9.** Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
#####Your code here

#df[((df.age >= 2) &(df.age <= 4))]
df[df['age'].between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**10.** Change the age in row 'f' to 1.5.

In [ ]:
#####Your code here

df.loc['f', 'age'] = 1.5
df.loc['f']

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

**11.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

In [ ]:
#####Your code here

df.visits.sum()

19

**12.** Calculate the mean age for each different animal in `df`.

In [ ]:
#####Your code here


df.groupby('animal')['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
#####Your code here

df.loc['k'] = ['snake',50,10, 'no']
df.loc['k']

df = df.drop('k')
#df.loc['k']

**14.** Count the number of each type of animal in `df`.

In [ ]:
#####Your code here

df.animal.value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [ ]:
#####Your code here

df.sort_values(by = ['age','visits'],ascending = [False,True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

**16.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [ ]:
#####Your code here


df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
snake   4.5  0.5   NaN